version: '3'

services:
  db:
    image: mongo
    container_name: suiref_db
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: secret
    volumes:
      - suiref:/data/db


volumes:
  suiref: